.banner-contacto {
    position: relative; /* Necesario para que el pseudo-elemento se posicione relativo al contenedor */
    background: url('/imagenes/contacto.png') no-repeat center center;
    background-size: cover;
    color: var(--color-amarillo);
    min-height: 50vh; /* Ajusta la altura del banner */
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
}
.titulo-banner{
    font-size: 2rem;
    
}
.banner-contacto::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1); /* Capa negra al 50% de opacidad */
    z-index: 1; /* Se coloca detrás del contenido */
}
.form-control{
    font-family: 'Poppins';
    border-radius: 0px;
    padding: 10px;
}

.titulo-arriba{
    color: #F4C200;
    font-size: 3rem; /* Tamaño base */
    font-family: 'Poppins';
}

.titulo-abajo {
    color: #242F4C;
    font-size: 2rem; /* Tamaño base */
    font-family: 'Poppins';

}


.btn-enviar {
    background-color: #F4C200;
    color: white;
    font-weight: bold;
    width: 100%;
    font-family: 'Poppins';
}

.contact-info {
    margin-top: 20px;
    font-family: 'Poppins';
}

.contact-info i {
    color: #242F4C;
    margin-right: 10px;
    font-family: 'Poppins';
}



.asesor-lubricantes {
    position: absolute;
    top: 20%;
    right: 10%;
    background: #F4C200;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    font-family: 'Poppins';
}

.btn-contacto {
    position: absolute;
    bottom: 10%;
    right: 10%;
    background: #28D146;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    font-family: 'Poppins';
}
.fuego-derecha {
    position: absolute;
    bottom: -200px; /* Ajusta la posición */
    right: 0px; /* Ajusta la posición */
    max-width: 100%; /* Controla el tamaño */
    z-index: 2; /* Para que quede sobre la imagen del auto */
    pointer-events: none; /* Evita interacción */
}
.contact-info {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #242F4C;
}

.icono-contacto {
    width: 20px; /* Tamaño del ícono */
    height: auto;
    margin-right: 10px; /* Espaciado entre ícono y texto */
}
.contact-info-container{
    font-family: 'Poppins';
}



@media (min-width: 992px) { /* Laptops */
    .titulo-arriba {
        font-size: 2rem;
    }
    .titulo-abajo {
        font-size: 2rem;
    }
    .titulo-banner{
        font-size: 5rem;
    }
    .img-container{
        
        display: block;
    }
    .fuego-derecha {
        width: 49%;
        bottom: -100px;
    }
}

@media (min-width: 1200px) { /* PC */
    .titulo-arriba {
        font-size: 3rem;
    }
    .titulo-abajo {
        font-size: 3rem;
    }
    .titulo-banner{
        font-size: 6rem;
    }
    .fuego-derecha {
        position: absolute;
        bottom: -200px; /* Ajusta la posición */
        right: 0px; /* Ajusta la posición */
        max-width: 100%; /* Controla el tamaño */
        z-index: 2; /* Para que quede sobre la imagen del auto */
        pointer-events: none; /* Evita interacción */
    }
}
/* Tamaños responsivos */
@media (max-width: 768px) { /* Tablets */
    .titulo-arriba {
        font-size: 1.5rem;
    }
    .titulo-abajo {
        font-size: 1.5rem;
    }
    .titulo-banner{
        font-size: 4rem;
    }
    .fuego-derecha{
        display: none;
    }
    
    
}