@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
:root {
    --color-azul: #242F4C;  /* Azul  */
    --color-amarillo: #F4C200; /* Amarillo */
    --color-wsp: #40E45D;  /* verde */
 
}

/* Definir Poppins como fuente principal */
body {
    font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Si quieres aplicar diferentes pesos */
h1, h2, h3 {
font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
    
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; /* Normal */
}
.resaltado{
    color: var(--color-amarillo);
    font-family: "Black Ops One", system-ui;
    font-weight: normal;
}
.centrado{
    text-align: center;
}
.boton-personalizado {
    background-color: var(--color-amarillo);
    transform: skewX(-15deg);
   
    border: none;
    display: inline-block;
    transition: background-color 0.3s ease-in-out;
}


.boton-personalizado a {
    color: var(--color-azul);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    display: block; 
    
    transition: color 0.3s ease-in-out;
}


.boton-personalizado:hover {
    background-color: var(--color-azul);
}

.boton-personalizado:hover a {
    color: var(--color-amarillo);
}
  
.slider-centrado{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.italica{
    font-style: italic;
}

.footer{
    
}

.color-azul{
    color: var(--color-azul);
}

@media only screen and (max-width: 1100px) {
    h1 {
        font-size: 5rem !important; 
    }
    h2 {
        font-size: 2.5rem !important; 
        
    }



    h3 {
        font-size: 2rem !important; 
    }
    
}

@media only screen and (max-width: 900px) {
    h1 {
        font-size: 3rem !important; 
    }
    h2 {
        font-size: 2rem !important; 
    }

    h3 {
        font-size: 1.5rem !important; 
    }
    
}
