.navbar {

    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.1rem;
    width: 100%;
    background-color: #1A2A4A; /* Color de fondo del header */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra para efecto flotante */
    z-index: 1000;
    transition:  0.3s ease-in-out;
}
.dropdown-menu{
    background-color: var(--color-azul);
    
}

.dropdown-item{
    color: white;
}
.nav-link{
    color: white;
    
}
.nav-link:hover{
    color: var(--color-amarillo);
    
}
.nav-link:active,
.nav-link:focus {
    color: var(--color-amarillo);
}

.navbar-nav .dropdown-toggle::after {
    display: none; /* Oculta la flecha original */
}
.logo-header{
    width: 288px;


}
.dropdown-menu{
    font-family: 'Poppins';
}
/* Aplica el borde a cada item */
a.dropdown-item {
    border-bottom: 1px solid #fff; /* línea blanca */
    padding: 10px;
  }
  


@media (min-width: 768px) {
    /* Por defecto, ocultamos el menú con opacidad y una pequeña traslación */
    .navbar .dropdown .dropdown-menu {
      display: block; /* Forzamos el display para que el hover funcione */
      opacity: 0;
      transform: translateY(20px);
      visibility: hidden;
      transition: opacity 0.3s ease, transform 0.3s ease;
      pointer-events: none; /* Evita que se interactúe cuando está oculto */
      border: 1px solid white;
      padding: 0px;
     
    }
  
    /* Al pasar el mouse sobre el elemento dropdown, se muestra el submenú */
    .navbar .dropdown:hover .dropdown-menu {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
      pointer-events: auto;
    }
  }


@media (max-width: 768px){
    .logo-header{
        width: 150px;
    
    
    }
}